article div {
  display: flex;
  flex-direction: column;
}

.post-list {
  @include display-main-content;

  h1 {
    text-align: right;
    margin: 0;
    text-transform: uppercase;
  }

  article {
    display: flex;
    justify-content: space-between;

    background-color: $article-color;

    margin-bottom: 10px;
    padding: 10px;

    @media (max-width: 800px) {
      flex-direction: column;      
    }

    img {
      height: 35vh;
    }

    .post {
      margin: 10px;

      &-description {
        color: red;
        border-bottom: 1px solid $secondary-color;
      }

      h3 {
        color: $primary-color;
        text-transform: uppercase;
      }
    }

    button {
      align-self: flex-end;
    }
  }
}